article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, p, a, ul {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  display: block; }

header {
  height: 20vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.brandLogo {
  max-width: 450px; }

html {
  font-size: 10px; }

body {
  color: black;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.8px; }

h1 {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif; }

a {
  text-decoration: none;
  color: snow; }
  a:hover, a:visited, a:focus {
    color: snow; }

input,
button,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.hide {
  display: none; }

.errorMessageBox p {
  font-size: 5rem; }

a.goBack:visited {
  color: yellow; }

a.goBack:hover, a.goBack:focus {
  color: firebrick; }

#topLayer, #marshLayer, #chocLayer, #bottomLayer {
  position: absolute; }

#topLayer {
  z-index: 9999;
  top: 10px; }

#marshLayer {
  z-index: 8999;
  top: 20px; }

#chocLayer {
  z-index: 7999;
  top: 45px; }

#bottomLayer {
  z-index: 6999;
  top: 200px; }

main {
  background-image: url("../images/explore.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative; }
  @media (max-width: 480px) {
    main {
      background-image: url("../images/exploreResponsive.png"); } }

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

section {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 175px; }

aside {
  position: fixed;
  left: 65%;
  top: 45%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  aside img {
    min-width: 274px; }

form {
  width: 80%;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(216, 215, 194, 0.7)), to(rgba(53, 132, 145, 0.7)));
  background-image: -webkit-linear-gradient(rgba(216, 215, 194, 0.7), rgba(53, 132, 145, 0.7));
  background-image: -o-linear-gradient(rgba(216, 215, 194, 0.7), rgba(53, 132, 145, 0.7));
  background-image: linear-gradient(rgba(216, 215, 194, 0.7), rgba(53, 132, 145, 0.7));
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #7cb342; }
  form h1 {
    margin-bottom: 25px;
    text-align: center; }
  form > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  form input,
  form select,
  form p {
    margin: 0 5px 50px 0;
    display: inline-block;
    margin-right: 20px; }
  form p {
    font-size: 3.5rem;
    color: white; }
  form select {
    padding: 10px 0;
    height: 60px; }
  form input[type="text"] {
    width: 375px;
    height: 60px; }
  form input[type="submit"] {
    font-size: 2rem;
    background-color: #7cb342;
    height: 60px;
    color: snow;
    padding: 11px 20px;
    justify-self: flex-end;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px; }
    form input[type="submit"]:hover {
      background-color: snow;
      color: #7cb342; }

.select-style {
  width: 160px;
  border-radius: 3px; }

.select-style select {
  padding: 5px 10px;
  width: 130%;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  background-image: none; }

.select-style select:focus {
  outline: none; }

.landingPage {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.destinationOption {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .destinationOption div {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    margin-bottom: 50px;
    border: 10px solid #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 132, 145, 0.7)), to(rgba(216, 215, 194, 0.7)));
    background-image: -webkit-linear-gradient(rgba(53, 132, 145, 0.7), rgba(216, 215, 194, 0.7));
    background-image: -o-linear-gradient(rgba(53, 132, 145, 0.7), rgba(216, 215, 194, 0.7));
    background-image: linear-gradient(rgba(53, 132, 145, 0.7), rgba(216, 215, 194, 0.7));
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    background-position: center top;
    background-size: cover;
    padding: 20px; }
    .destinationOption div button {
      padding: 20px 0;
      font-size: 2.5rem;
      color: WHITE;
      text-align: center;
      margin-bottom: 20px;
      background-color: #7cb342;
      border-radius: 5px;
      width: 50%;
      -ms-flex-item-align: center;
      align-self: center;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      border-radius: 5px; }
      .destinationOption div button:hover {
        background-color: snow;
        color: #7cb342; }
    .destinationOption div h2 {
      font-size: 3.1rem; }
    .destinationOption div h2, .destinationOption div p, .destinationOption div h3 {
      padding: 10px 12px;
      color: white;
      line-height: 2; }

.modalWindow {
  position: fixed;
  width: 80%;
  margin: 0 auto;
  top: 0;
  z-index: 2;
  padding: 100px;
  background-color: #1b5e20;
  height: 100%;
  overflow: auto; }
  .modalWindow div {
    border: none; }
  .modalWindow .fa {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2rem; }
  .modalWindow .modalWindowContent {
    margin-bottom: 20px; }
    .modalWindow .modalWindowContent > div {
      float: left;
      width: calc(50% - 25px);
      margin-right: 50px;
      margin-top: 50px; }
      .modalWindow .modalWindowContent > div:nth-child(even) {
        margin-right: 0; }
      .modalWindow .modalWindowContent > div h3 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
        text-shadow: 2px 2px 1px black; }
      .modalWindow .modalWindowContent > div div.soundDisplay {
        background-color: transparent;
        background-image: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%; }
      .modalWindow .modalWindowContent > div iframe {
        border: 0;
        width: 80%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 5px; }

.night {
  background-image: url("../images/explore2.jpg");
  background-size: cover; }

.itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.direction {
  display: inline-block;
  min-height: 110px; }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  aside {
    visibility: hidden; }
  section {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center; }
  form select {
    padding: 10px; }
  .modalWindow .modalWindowContent div {
    width: 100%;
    margin-bottom: 30px; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .destinationOption div {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  input[name="city"] {
    max-width: 60%; }
  input[select="province"] {
    max-width: 60%;
    text-align: right; }
  form p,
  form select {
    margin-right: 10px; } }

/* Landscape phones and down */
@media (max-width: 574px) {
  .destinationOption div {
    margin-right: 20px; }
  header img {
    width: 90%;
    margin: 0 auto; }
  form input[name="address"] {
    min-width: initial; }
  .modalWindow {
    width: 100%;
    padding: 0;
    left: 0;
    top: 0; }
    .modalWindow .modalWindowContent {
      margin-top: 60px; }
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    form p,
    form select,
    form input {
      margin-bottom: 10px;
      width: 100%; } }
